
.tariff-card-component {
	display: grid;
	grid-template-columns: 1fr auto;
	flex-direction: column;
	gap: 12px;
	padding: 32px;
	background-color: var(--light-color);
	border: 2px solid var(--dark-color);
	border-radius: 16px;
}