
.tariff-page-component {
	display: grid;
	grid-template-columns: 2fr 2px 1fr;
	padding: 16px 16px;
	height: 100%;
}

.tariff-page-component__title {
	font-size: 24px;
	font-weight: 700;
	padding: 0 16px;
}

.tariff-page-component__wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
}

.tariff-page-component__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;	
}
@media(max-width: 1024px) {
	.tariff-page-component {
		grid-template-columns: auto 2px 1fr;
	}
	.tariff-page-component__list {
		grid-template-columns: 1fr;
	}
}

.tariff-page-component__divider {
	width: 2px;
	height: 100%;
	background-color: var(--dark-color);
}