
.user-card-component {
	display: grid;
	grid-template-columns: 1fr auto;
	flex-direction: column;
	gap: 12px;
	padding:  24px 32px;
	background-color: var(--light-color);
	border: 2px solid var(--dark-color);
	border-radius: 16px;
}

.user-card-component__content {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.user-card-component__title {
	font-size: 16px;
	font-weight: 600;
	color: var(--primary-text-color);
}

.user-card-component__caption {
	font-size: 14px;
	font-weight: 500;
	color: var(--gray-text-color);
}